.content {
  min-height: 930px;
  padding-top: 1em;
}

  .posts-list,
  .posts-list-trimmed {
    display: flex;
    flex-wrap: wrap;
  }

  .posts-list-trimmed {
    float: left;
    width: 84%;
  }

    .posts-list-trimmed > .post-container {
      margin: 0.8%;
      width: 18.3%;
    }

  .breadcrumbs {
    color: grey;
    font-family: sans-serif;
    font-size: 0.6em;
    height: 1em;
    margin: 0 1%;
    text-transform: none;
  }

    .breadcrumbs > li {
      display: inline-block;
    }

      .breadcrumb-link > a {
        color: grey;
      }

      .breadcrumb-link > span {
        color: lightgrey;
      }

    .post-container {
      background-color: white;
      background-image: url('../icons/fancy-border.png');
      background-position: bottom left;
      background-repeat: repeat-x;
      margin: 0.67%;
      width: 15.3%;
    }

      .post-categories-container {
        padding: 0.15em;
      }

        .post-category {
          height: 200px;
        }

          .post-category-link {
            background-color: #9a1d0d;
            color: white;
            float: right;
            font-size: 0.8em;
            padding: 0.1em 0.3em;
            text-decoration: none;
          }

      .post-title-container {
        font-size: 1.1em;
        height: 3.5em;
      }

        .post-title {
          color: #9a1d0d;
          display: inline-block;
          font-size: 1.3em;
          overflow: hidden;
        }

      .post-content-container {
        border-top: 1px dotted gray;
        font-family: sans-serif;
        font-size: 0.65em;
        text-transform: none;
      }

      .post-title-container,
      .post-content-container {
        padding: 20px;
      }

.side-widgets {
  float: right;
  margin-right: 0.8%;
  margin-top: -0.1%;
  min-height: 930px;
  width: 14.9%;
}

  .side-widgets > .dummy-widget {
    background-color: #e7e7e7;
    background-image: url('../icons/fancy-border.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    padding: 0;
    width: 100%;
  }
  
    .side-widgets .widget-title,
    .side-widgets ul {
      color: #9a1d0d;
      padding: 0.6em 0.2em 0 0.2em;
    }

    .side-widgets ul {
      border-top: 1px dotted grey;
      padding-bottom: 0.6em;
    }

    .side-widgets li,
    .side-widgets a {
      color: grey;
    }

.pagination {
  clear: both;
  display: flex;
  font-size: 1.5em;
  padding: 1.25em 0.3em 0 0.3em;
}

  .pagination a {
    color: white;
    text-decoration: none;
  }

  .pages {
    flex: 1;
    text-align: center;
  }

    .page-link {
      display: inline-block;
      margin: 0 0.2em;
    }

  .page-next,
  .page-previous,
  .pages {
    float: left;
  }

@media (max-width: 1600px) {
  .post-container {
    margin: 1%;
    width: 18%;
  }

  .posts-list-trimmed > .post-container {
    margin: 0.8%;
    width: 23.3%;
  }
}

@media (max-width: 1400px) {
  .post-container,
  .posts-list-trimmed > .post-container {
    margin: 1%;
    width: 23%;
  }

  .side-widgets {
    display: none;
  }

  .posts-list-trimmed {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .post-container,
  .posts-list-trimmed > .post-container {
    margin: 1%;
    width: 31.2%;
  }
}

@media (max-width: 1000px) {
  .post-container,
  .posts-list-trimmed > .post-container {
    margin: 1%;
    width: 48%;
  }
}

@media (max-width: 600px) {
  .post-container,
  .posts-list-trimmed > .post-container {
    margin: 1%;
    width: 98%;
  }
}