footer {
  background: #1d1d1d; /* Old browsers */
  background: -moz-linear-gradient(left, #1d1d1d 0%, #282828 31%, #282828 73%, #1d1d1d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1d1d1d 0%,#282828 31%,#282828 73%,#1d1d1d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1d1d1d 0%,#282828 31%, #282828 73%,#1d1d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 1px solid grey;
  clear: both;
}

/* WIDGETS */
.widget-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 3em;
}

  .dummy-widget {
    width: 300px;
  }

    .dummy-widget li,
    .widget-title {
      margin: 0.5em;
    }

    .widget-title,
    .widget-link,
    .widget-text {
      color: #d1d1d1;
      text-decoration: none;
    }

    .widget-link,
    .widget-text {
      font-family: 'DroidSans';
      font-size: 0.6em;
      text-transform: none;
    }

    .widget-title {
      color: #dcc08e;
    }

/* FOOTER COPYRIGHT */
.footer-copyright {
  text-align: center;
}

  .footer-copyright > .widget-title {
    margin: 0;
    padding: 1em;
  }

/* MEDIA QUERIES */
@media (max-width: 1500px) {
  .dummy-widget {
    width: 450px;
  }

  .widget-link,
  .widget-text {
    font-size: 0.7em;
  }
}

@media (max-width: 1200px) {
  .widget-container {
    padding: 1em 5%;
    text-align: center;
  }

  .dummy-widget {
    width: 80%;
  }
}