.logo img {
  width: 15em;
}

.logo, .nav {
  padding: 0 1%;
}

  .nav-item {
    display: inline-block;
  }

    .nav-link {
      color: white;
    }

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.dropdown {
  position: relative;
}

  .dropdown-container {
    position: absolute;
  }

    .dropdown-item {
      margin: 10px;
    }

    .dropdown-items {
      background-color: #222222;
    }
    
    .trigger-link {
      color: white;
    }

    .nav-link:hover,
    .trigger-link:hover {
      color: #dcc08e;
    }

    .dropdown-items,
    .trigger-link {
      border-radius: 0.2em;
      padding: 0.3em;
    }

.form-group {
  background-color: #0d0d0d;
  padding: 0.3em;
}
    
  .form-control {
    display: inline-block;
    position: relative;
  }
    
  .form-control > .form-textbox, .form-button {
    background: none;
    border: none;
  }
    
    .form-textbox {
      font-size: 14px;
    }
    
    .form-button {
      background-image: url('../icons/search-icon.png');
      height: 20px;
      position: absolute;
      right: 0.25em;
      top: -0.75em;
      width: 20px;
    }

.user-nav {
  display: flex;
  justify-content: space-around;
}













