nav {
  padding: 0.5em;
}

.nav-expand {
  display: none;
}

.logo > img {
  width: 15em;
}

.logo, .nav {
  padding: 0 1%;
}

  .nav-item {
    display: inline-block;
  }

    .nav-link {
      color: white;
    }

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.dropdown {
  position: relative;
}

  .dropdown-item input,
  .dropdown-item textarea {
    background-color: black;
    border: 1px solid #9a1d0d;
    box-sizing: border-box;
    color: white;
    font-size: 0.8em;
    resize: none;
  }

  .dropdown-container {
    position: absolute;
  }

    .dropdown-item {
      margin: 10px;
    }

    .dropdown-items {
      background-color: #222222;
    }
    
    .trigger-link {
      color: white;
    }

    .nav-link:hover,
    .trigger-link:hover {
      color: #dcc08e;
    }

    .dropdown-items,
    .trigger-link {
      border-radius: 0.2em;
      padding: 0.3em;
    }

.form-group {
  background-color: #0d0d0d;
  padding: 0.3em;
}
    
  .form-control {
    display: inline-block;
    position: relative;
  }
    
  .form-control > .form-textbox, .form-button {
    background: none;
    border: none;
  }
    
    .form-textbox {
      font-size: 14px;
    }
    
    .form-button {
      background-image: url('../icons/search-icon.png');
      height: 20px;
      position: absolute;
      right: 0.25em;
      top: -0.75em;
      width: 20px;
    }

.user-nav {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .logo > img {
    width: 60%;
  }

  .nav-item {
    display: block;
  }

  .nav-link,
  .trigger-link {
    display: block;
  }

  .nav-right,
  .nav-left {
    float: none;
  }

  .nav-expand {
    display: block;
  }

  .nav-container {
    display: none;
  }

  nav {
    padding: 0;
  }

  #nav-main {
    background: #9a1d0d;
    padding: 0.5em 1em;
    top: 0;
    left: 0;
    position: fixed;
    width: 96%;
  }

  .dropdown-container {
    position: relative;
  }

    .dropdown-items {
      background-color: darkgrey;
      border: 1px solid grey;
      padding-left: 20%;
      text-shadow: 1px 1px 1px black;
    }
}

@media (max-width: 500px) {
  .logo > img {
    width: 100%;
  }
}