@font-face {
  font-family: 'LGothic';
  src: url('../fonts/LeagueGothic-Regular.otf');
}

body {
  font-family: 'LGothic';
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
  background: #1d1d1d; /* Old browsers */
  background: -moz-linear-gradient(left, #1d1d1d 0%, #323232 31%, #323232 73%, #1d1d1d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1d1d1d 0%,#323232 31%,#323232 73%,#1d1d1d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1d1d1d 0%,#323232 31%,#323232 73%,#1d1d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#wrapper {
  padding: 100px;
}