.post-details-main {
  float: left;
  margin-left: -1em;
  margin-top: 10px;
  width: 80%;
}

.post-details-container {
  background-color: white;
  background-image: url('../icons/fancy-border.png');
  background-position: top left;
  background-repeat: repeat-x;
  display: flex;
}

  .post-title-link {
    font-size: 1.5em;
  }

  .post-details-container-border-bottom {
    background-color: white;
    background-image: url('../icons/fancy-border.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    height: 10px;
    width: 100%;
  }

  .post-contents-container {
    padding: 1.5em 1em 1.5em 0;
    width: 100%;
  }

    .post-contents-header {
      border-bottom: 1px dotted grey;
    }

  .post-aside-container {
    padding: 1.5em 1em 1.5em 1em;
  }

    .post-category-container {
      border: 5px solid #e7e7e7;
      height: 7em;
      width: 7em;
    }

      .category-link {
        background-color: #9a1d0d;
        color: white;
        float: right;
        padding: 0.1em 0.3em;
      }

        .widget-header {
          color: #2c2c2c;
          padding: 1.5em 0 0.5em 0;
        }

        .widget-body {
          color: #6e6e6e;
        }

        .tags-list, .share-links-list {
          display: flex;
          flex-wrap: wrap;
          width: 7em;
        }

          .tag {
            background-color: #e7e7e7;
            margin: 0.1em;
            padding: 0.3em;
          }

.post-comments-container {
  background-color: white;
  float: right;
  margin: 1% 0 1% 0;
  padding: 0.5em 1em 1em 1em;
  width: 85%;
}

  .post-comments-header {
    border-bottom: 1px dotted grey;
    color: #9a1d0d;
    padding: 0.5em 0 0.5em 0;
  }

    .post-comment {
      border-bottom: 1px dotted grey;
      display: flex;
      padding: 1em 0;
    }

      .comment-aside {
        background-image: url('../img/avatar-comment.png');
        height: 63px;
        text-align: right;
        width: 63px;
      }

        .comment-created-at {
          color: white;
          display: inline-block;
          font-size: 1.30em;
          height: 60px;
          width: 60px;
        }

      .comment-main {
        padding: 0 0 1em 1em;
      }

.side-widgets.side-widgets-post {
  float: left;
  margin: -0.68em 0 1em 1em;
  width: 19%;
}

.comment-input {
  background-color: #e7e7e7;
  border: none;
  display: block;
  margin: 1% 0;
}

textarea.comment-input {
  height: 100px;
  resize: none;
  width: 50%;
}

.comment-submit {
  background-color: #e7e7e7;
  color: #6e6e6e;
  display: inline-block;
  text-align: center;
}

@media (max-width: 1400px) {
  .post-details-main {
    width: 100%;
  }

  textarea.comment-input {
    width: 100%;
  }

  .comment-submit {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .post-details-main {
    margin: 0;
  }
  
  .post-contents-container {
    padding: 1em;
    width: 93%;
  }

  .post-details-container {
    display: block;
  }

  .post-widgets-container {
    display: flex;
    flex-wrap: wrap;
  }

    .widget-header {
      padding: 0 1em;
    }

  .post-category-container {
    border: none;
    display: inline;
  }
}