.hidden {
  display: none;
}

.expanded {
  display: block;
}

.clearfix {
  clear: both;
}

.nav-item > .selected {
  background-color: #222222;
  color: #dcc08e;
}

.arrow {
  font-size: 0.6em;
  padding: 0.5em;
  vertical-align: super;
}