{{!-- <ul class="nav nav-right"></ul>
  {{#if this.username}}
    <li><span class="text-white">{{this.username}}, </span><a href="#" class="text-white" data-navigo>Logout</a></li>
  {{else}}
    <li><a href="#" class="text-white" data-navigo>Sign in</a><span>or</span><a href="#" class="text-white" data-navigo>Sign out</a></li>
  {{/if}}
</ul> --}}