<ul class="category">
  {{#each this}}
    <li class="category-name">
      <a href="/category/main/{{this.categoryName}}/1" data-navigo>{{this.categoryName}}</a>
      <ul class="subcategory">
        {{#each this.sub}}
          <li class="subcategory-name"><a href="/category/sub/{{this}}/1" data-navigo>{{this}}</a></li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>