<ul class="nav nav-left">
  <li class="nav-item"><a href="/home" class="nav-link focused" data-navigo>Home</a></li>
  {{#each this}}
  <li class="nav-item">
    <ul class="dropdown">
      <li class="dropdown-trigger selected">
        <a href="/category/main/{{this.categoryName}}/1" class="nav-link" data-navigo><span class="category">{{this.categoryName}}</span></a>
      </li>
      <li class="dropdown-container">
        <ul class="dropdown-items">
        {{#each this.sub}}
          <li class="dropdown-item"><a href="/category/sub/{{this}}/1" class="nav-link" data-navigo><sup>>></sup><span class="category">{{this}}</span></a></li>
        {{/each}}
        </ul>
      </li>
    </ul>
  </li>
  {{/each}}
</ul>